@model IEnumerable<Ouvidoria.Models.Solicitacao>

@{
    ViewData["Title"] = "Início";
}
<div class="text-center">
    <h2>Sistema Ouvidoria </h2>
    <hr />
    <a asp-action="Cadastro" class="btn btn-success">Nova Solicitação</a>
</div>
<hr />
<table id="table" class="table table-sm text-center table-responsive-sm" style="border-radius: 15px">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Setor.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoSolicitacoes.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Setor.Nome)
                </td>
                <td>
                    @if(item.Status == "Aberto")
                    {
                        <label class="text-danger">@Html.DisplayFor(modelItem => item.Status)</label>
                    }
                    @if(item.Status == "Finalizado")
                    {
                        <label class="text-success">@Html.DisplayFor(modelItem => item.Status)</label>
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoSolicitacoes.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCadastro)
                </td>
                <td class="btn-group-vertical">
                    @if (item.Resposta != null)
                    {
                        <a class="btn btn-success p-2 text-white" asp-action="Resultado" asp-route-id="@item.Id">Resultado</a>

                    }
                    else
                    {
                        <a class="btn btn-success p-2 text-white" asp-action="EnviarResposta" asp-route-id="@item.Id">Responder</a>
                        <a class="btn btn-warning p-2 text-white" asp-action="Detalhes" asp-route-id="@item.Id">Detalhes</a>
                        <a class="btn btn-danger p-2 text-white" asp-action="Remover" asp-route-id="@item.Id">Remover</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#table').DataTable({
                "oLanguage": {
                    "sSearchPlaceholder": ""
                },
                language: {
                    url: '//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json',
                }
            });
        });
    </script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.jqueryui.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.jqueryui.min.js"></script>
}