@model IEnumerable<Ouvidoria.Models.Solicitacao>

@{
    ViewData["Title"] = "Início";
}
<div class="text-center">
    <h2>Sistema Ouvidoria </h2>
    <hr />
    <a asp-action="Cadastro" class="btn btn-success">Abrir uma Solicitação</a>
</div>
<hr />
<table id="table" class="table table-bordered">
    <thead>
        <tr>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th class="col-md-6">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th class="col-md-6">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="col-md-4">
                @Html.DisplayNameFor(model => model.Assunto)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Assunto)
                </td>
                <td>
                    <a asp-action="Resposta" asp-route-id="@item.Id">Responder</a> |
                    <a asp-action="Detalhes" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Remover" asp-route-id="@item.Id">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#table').DataTable({
                "oLanguage": {
                    "sSearch": "",
                    "sSearchPlaceholder": "Pesquise"
                },
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.22/i18n/Portuguese-Brasil.json',
                }
            });
        });
    </script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.jqueryui.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.jqueryui.min.js"></script>
}