@model Ouvidoria.Models.Solicitacao

@{
    ViewData["Title"] = "Remover";
}

<h1>Remover</h1>

<h3>Tem certeza que deseja remover?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Assunto): 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Assunto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome): 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email): 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Detalhes): 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Detalhes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Celular): 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Celular)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoSolicitacoes.Tipo): 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoSolicitacoes.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Perfil.TipoPerfil): 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Perfil.TipoPerfil)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Polos.Campus): 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Polos.Campus)
        </dd class>
    </dl>
    
    <form asp-action="Remover">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Remover" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para a lista</a>
    </form>
</div>
